.pokemon-list {
  height: 100%;
  overflow-y: auto;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

.pokemon-list::-webkit-scrollbar {
  width: 18px;
}

.pokemon-list::-webkit-scrollbar-thumb {
  background-color: #e34040;
  border-radius: 5px;
}

.pokemon-list::-webkit-scrollbar-track {
  background-color: #b13333;
  border-radius: 5px;
}